﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The dynamic part of the broken link checker checker (running .NET Core).</p>

    <p><a href="/slowloadingpage">/slowloadingpage</a> Slow loading page</p>

    <p><a href="/deepblackhole">/blackhole</a> This is a black hole of links going deeper and deeper (todo)</p>

    <p><a href="/wideblackhole">/wideblackhole</a> This is a black hole of links going wider and wider (todo)</p>


</div>
